<html>
	<head>
		<link rel="stylesheet" href="default.css">
	</head>
	<body>
		<div class="vl-label">
			<div class="vl-header-span">
				<div class="vl-album-name">{{ album.name }}</div><div class="vl-album-artist">{{ album.artist }}</div>
			</div>
			<div class="vl-track-span">
				{% for track in tracks %}
				<div class="vl-track-line1">
					<div class="vl-pos">{{ track.posvinyl }}</div><div class="vl-title">{{ track.title }}</div><div class="vl-length">{{ track.length }}</div>
				</div>
				<div class="vl-track-line2">
					<div class="vl-key">{{ track.key }}</div><div class="vl-genre">{{ track.genre }}</div><div class="vl-bpm">{{ track.bpm }}</div><div class="vl-rpm">{{ track.rpm }}</div>
				</div>
				{% endfor %}
			</div>
			<div class="vl-footer-span">
				<div class="vl-publisher">{{ album.publisher }}</div><div class="vl-produced">{{ album.country }} {{ album.year }}</div>
			</div>
		</div>
	</body>
</html>
